<!DOCTYPE html>
<html>
    <body>
        Successfully added the family details
        <p>
        <b>Name:</b><%= person.father %>
        <br>
        <b>ChildL</b><%= person.child %>
        <br><a href="/files/familydetails.html">Add new family details</a>
        <br><a href="/all">Show All</a>        
    </body>
</html>