<!DOCTYPE html>
<html>
    <body>
        Updated <%= person.father %>'s child to <%= person.child%>
        <br><a href="/public/familydetails.html">Add new family</a>
        <br><a href="/all">Show All</a>
    </body>
</html>